---
interface Props {
    children: any;
}

const {} = Astro.props;
---

<div class="block w-[90%] sm:w-container-sm md:w-container-md lg:w-container-lg xl:w-container-xl mx-auto h-full relative">
    <slot />
</div>
